# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.co
*.deb
*.tar.gz
*.dsc
*.changes
./config.*
*.gcno
.deps
gmon.out
core.*
vgcore.*
Makefile.in
Makefile
*.la
.libs
*.swp
tags
*.DS_Store
Debug/
Release/
